In [5]:
#list

In [7]:
lst = ['hello','divyesh',20,7.45]

In [8]:
lst

['hello', 'divyesh', 20, 7.45]

In [9]:
lst.append("welcome")

In [10]:
lst

['hello', 'divyesh', 20, 7.45, 'welcome']

In [11]:
lst.index("divyesh")

1

In [12]:
lst.pop()

'welcome'

In [13]:
lst

['hello', 'divyesh', 20, 7.45]

In [14]:
lst.insert(1,"hi")

In [15]:
lst

['hello', 'hi', 'divyesh', 20, 7.45]

In [16]:
lst.remove("hello")

In [17]:
lst

['hi', 'divyesh', 20, 7.45]

# Dictionary

In [22]:
dit = {"name":"divyesh","age": 20,"number": 123456,"id": 123}

In [23]:
dit

{'name': 'divyesh', 'age': 20, 'number': 123456, 'id': 123}

In [24]:
dit.popitem()

('id', 123)

In [25]:
dit

{'name': 'divyesh', 'age': 20, 'number': 123456}

In [26]:
dit.setdefault("age")

20

In [27]:
dit.copy()

{'name': 'divyesh', 'age': 20, 'number': 123456}

In [28]:
dit.keys()

dict_keys(['name', 'age', 'number'])

In [29]:
dit.items()

dict_items([('name', 'divyesh'), ('age', 20), ('number', 123456)])

# Sets

In [30]:
st = ("divyesh","student",20,7.45)

In [31]:
st

('divyesh', 'student', 20, 7.45)

In [32]:
st1 = ("divyesh")

In [34]:
st.index(st1)

0

In [35]:
st.count

# Tuple

In [44]:
tup = ("Divyesh",20,"Student")

In [37]:
tup

('Divyesh', 'Student')

In [38]:
tup.count("Divyesh")

1

In [45]:
tup.index(20)

1

# String

In [46]:
name = "Divyesh"

In [47]:
name.casefold()

'divyesh'

In [50]:
txt = "welcome to my world"

In [51]:
txt.endswith("world")

True

In [52]:
txt.find("my")

11

In [53]:
txt.format()

'welcome to my world'

In [54]:
txt.isnumeric()

False

In [55]:
xyz = "myworld"

In [56]:
xyz.isidentifier()

True